<footer class="text-lg-start">
    <div *ngIf="showTopFooter" class="top-footer">
      <!-- Grid container -->
      <div class=" container p-4">
        <!--Grid row-->
        <div class="row"> 
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <h5 class="text-uppercase">Sede Comodoro Rivadavia</h5>
            <p class="m-0"> 
              <a class="text-white" href="https://www.unp.edu.ar/biblioteca/">Biblioteca Central "Dr. Eduardo A. Musacchio"</a>
           </p>       
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <h5 class="text-uppercase">Sede Esquel</h5>
            <p class="m-0"> 
              <a class="text-white" href="https://www.unp.edu.ar/bibliotecaeq/">Biblioteca "Geol. Roberto L. M. Viera"</a>
           </p>       
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Sede Trelew</h5>
            <p class="m-0"> 
              <a class="text-white" href="https://www.unp.edu.ar/bibliotecatrelew/">Biblioteca "Gabriel A. Puentes"</a>
           </p>  
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Sede Puerto Madryn</h5>
            <p class="m-0"> 
              <a class="text-white" href="https://www.unp.edu.ar/bibliotecamadryn/">Biblioteca "Puerto Madryn"</a>
           </p>  
          </div>
          <!--Grid column-->          
        </div>
        <!--Grid row-->
      </div>
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="bottom-footer p-1 d-flex justify-content-center align-items-center text-white">
      <div class="content-container">
        <p class="m-0">
          <a class="text-white"
             href="http://www.dspace.org/">{{ 'footer.link.dspace' | translate}}</a>
          {{ 'footer.copyright' | translate:{year: dateObj | date:'y'} }}
          <a class="text-white"
             href="https://www.lyrasis.org/">{{ 'footer.link.lyrasis' | translate}}</a>
        </p>
        <p class="m-0">
          <a class="text-white" href="https://www.unp.edu.ar/bibliotecas/">Sistemas de Bibliotecas</a>
        </p>        
        <p class="m-0"> Dirección General de Bibliotecas</p>       
        <p class=""m-0> Ciudad Universitaria Km 4 Comodoro Rivadavia. Chubut. Argentina</p>
        <p class=""m-0> Tel.: (0297) 4557856</p>
        <!--<ul class="footer-info list-unstyled small d-flex justify-content-center mb-0">
          <li>
              <a class="text-white" href="javascript:void(0);"
               (click)="showCookieSettings()">{{ 'footer.link.cookies' | translate}}</a>
          </li>
          <li *ngIf="showPrivacyPolicy">
            <a class="text-white"
               routerLink="info/privacy">{{ 'footer.link.privacy-policy' | translate}}</a>
          </li>
          <li *ngIf="showEndUserAgreement">
            <a class="text-white"
               routerLink="info/end-user-agreement">{{ 'footer.link.end-use!--r-agreement' | translate}}</a>
          </li>
          <li *ngIf="showSendFeedback$ | async">
            <a class="text-white"
               routerLink="info/feedback">{{ 'footer.link.feedback' | translate}}</a>
          </li>
        </ul>-->
      </div>
    </div>
    <!-- Copyright -->
</footer>