<h1>{{ 'info.end-user-agreement.head' | translate }}</h1>
<p><em>Última actualización Marzo de 2024</em></p>

<h2>Políticas del repositorio</h2>

<p>RDI UNPSJB es el Repositorio Digital Institucional (RDI) de Acceso Abierto de la Universidad Nacional de la Patagonia San Juan Bosco de la
Provincia de Chubut aprobado mediante Ordenanza C. S. N°159.</p>

<p>El proyecto de creación del RDI, considera establecer un marco mínimo de políticas que regulen su funcionamiento, los procedimientos y
políticas para tener una visión clara sobre los roles y responsabilidades de las partes involucradas, así como también cumplir con las Directrices del
Sistema Nacional de Repositorios Digitales.</p>

<h3>Políticas de contenidos</h3>

<p>Los contenidos son los documentos que reflejan la actividad de investigación, académica y de extensión producidos por miembros
(investigadores, y técnicos, docentes, estudiantes de grado y posgrado) pertenecientes.</p>

<p>Los documentos a incorporar en el repositorio deben cumplir con los siguientes requisitos:</p>

<h3>Requisitos</h3>

<ul>
  <li>Ser producido (autor o coautor) por miembros de la Universidad, se encuentren en ejercicio o revistan en carácter de emérito,
    consultor o invitado.</li>
  <li>Ser elaborado por estudiantes de grado, posgrado, siempre y cuando se trate de trabajos producidos para la obtención del título.</li>
  <li>Estar contenido en una publicación de la Universidad, independientemente de que el o los autores sean miembros de la misma.</li>
  <li>Resultar de actividades de investigación, enseñanza y extensión.</li>
  <li>Estar en formato digital (sea desde su origen o producido con posterioridad).</li>
  <li>Poseer todos los datos para su identificación y clasificación.</li>
  <li>Contar con los derechos de propiedad intelectual y que estos no afecten a terceros.</li>
  <li>Podrán ser producto del financiamiento de Centros miembros del RDI y otros, previa autorización de derechos no exclusivos de publicación y
    distribución.</li>
  <li>Estar escritos en los idiomas español, inglés, francés o portugués (no excluyente).</li>
  <li>Ser pertinente por lo menos a una colección y/o comunidad que el Repositorio haya determinado.</li>
  <li>Los ítems depositados deben ser íntegros.</li>
  <li>Los objetos depositados no podrán estar encriptados, protegidos por contraseña ni poseer mecanismos anti-copia, tampoco podrán
    contener archivos, programas o scripts incrustados.</li>
  <li>La Universidad podrá determinar políticas particulares para publicar en forma parcial cierto tipo de documentos.</li>
  <li>Se respetarán casos de documentos con embargo impuesto por la editora o el autor. Se ingresará el objeto únicamente con sus metadatos y
    una vez cumplida la fecha, se dará de alta al documento completo.</li>
</ul>

<h3>Tipos de documentos</h3>

<p>Entre los tipos de documentos aceptados, se pueden enumerar entre los más comunes a artículos, audios, documentos institucionales,
imágenes, informes científicos, libros y/o secciones o capítulos de libros, objetos de aprendizaje, objetos de conferencia, planes de estudio, programas de
contenidos, tesis de grado, tesis de posgrado , trabajo final de grado y videos.</p>

<p>La Universidad podrá determinar la inclusión de otros trabajos (preprints, artículos no sometidos a revisión de pares, reseñas, letters y similares)
siempre que se cuente con el aval del órgano ejecutivo correspondiente.</p>

<p>Por razones de accesibilidad y preservación digital se recomienda que se publiquen en formatos abiertos tales como RTF, PDF, legibles
a simple vista, de imágenes sin pérdidas y audio sin pérdidas. El tamaño máximo para un archivo individual será establecido por la Universidad.</p>

<h2>Políticas de depósitos de materiales</h2>

<p>El RDI provee al menos dos vías para la incorporación de documentos: depósito directo (autoarchivo) y depósito mediado, en el cual se
puede delegar el mismo a un sector, Centro o Biblioteca.</p>

<p>Los ítems pueden ser depositados por sus autores, sus derechohabientes, personal delegado acreditado o los titulares de los derechos
de edición (en el caso de ser la Universidad).</p>

<p>El autor deberá poseer la propiedad intelectual del trabajo y ceder a la Universidad el derecho no exclusivo de preservar y dar acceso a su
documento a través de los servicios de búsqueda y consulta del Repositorio u otras fuentes externas, garantizando a la Universidad que no tiene limitaciones
de copyright o derechos conexos.</p>

<h3>Depósito por Autoarchivo</h3>
<ul>
  <li>Los autores ingresarán sus objetos y serán responsables de asignar los metadatos bibliográficos. Al mismo tiempo aceptarán la licencia de
    uso y distribución correspondiente que permita la preservación y difusión no exclusiva de los objetos depositados. Se regirá, además por contratos firmados
    con antelación.</li>
  <li>Los objetos depositados mediante esta modalidad, serán sometidos a revisión por los responsables del Repositorio antes de su
    publicación, para garantizar que cumplan con los requisitos establecidos en lo referido a integridad, datos obligatorios, identificación, etc.</li>
  <li>Cualquier violación de derechos de autor en los objetos depositados, de la cual se de disponga de prueba fehaciente, dará lugar a su
    remoción del Repositorio.</li>  
</ul>

<h2>Políticas de acceso y uso</h2>

<p>El RDI reconoce dos tipos de usuarios:</p>
<ul>
  <li>Usuarios locales: de la propia Universidad.</li>
  <li>Usuarios finales: personas interesadas en los contenidos del Repositorio, otros Repositorios que actúan como cosechadores (
    harvesters, file cropping, minería de datos), otros sistemas de búsqueda y/o indexación.</li>
</ul>

<p>El acceso al texto completo de los ítems es libre y sin cargo, y ajustado a las políticas de acceso abierto.</p>

<p>La Administración del Repositorio, se reserva el derecho de limitar el acceso al contenido, de acuerdo con políticas establecidas al efecto
en la normativa institucional.</p>

<p>El usuario final, al aceptar los términos de la licencia general, se compromete a cumplir con lo establecido en ella.</p>

<h2>Políticas de servicios</h2>

<h3>Servicios específicos</h3>

<ul>
  <li>Posibilidad de interactuar con otros sistemas.</li>
  <li>De búsqueda simple (por palabras clave, autores, palabras
    del título, fuente de la publicación, fecha) y avanzada (en todo el texto, por
    tipo de documento, colecciones, navegando por el “mapa” del Repositorio,
    relación con otros documentos del Repositorio, basadas en contexto, etc.).</li>
</ul>
<!--
<p><a [routerLink]="'.'" fragment="ref-a" id="comment-a">[a]</a>&nbsp;The DSpace software used to run this site is open source. Options for reuse and reproduction of the DSpace software is governed by its open source license: <a href="https://github.com/DSpace/DSpace/blob/main/LICENSE" target="_blank" rel="noopener noreferrer">https://github.com/DSpace/DSpace/blob/main/LICENSE</a></p>
-->