<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">Sistema de Biblioteca de la UNPSJB</h1>
          <h1 class="display-3">Repositorio Digital Institucional</h1>
          <p class="lead">Es un servicio libre y gratuito creado para albergar, preservar y dar visibilidad a las
            unidades académicas de la Universidad.</p>
        </div>
      </div>
      <!--<ul>
        <li>easily ingest documents, audio, video, datasets and their corresponding Dublin Core
          metadata
        </li>
        <li>open up this content to local and global audiences, thanks to the OAI-PMH interface and
          Google Scholar optimizations
        </li>
        <li>issue permanent urls and trustworthy identifiers, including optional integrations with
          handle.net and DataCite DOI
        </li>
      </ul> -->
      <p>Conoce más sobre la Universidad ingresando en el <a href="https://www.unp.edu.ar" target="_blank">sitio oficial de la misma</a>.</p>
      <!--<p>The test user accounts below have their password set to the name of this
          software in lowercase.</p>
      <ul>
        <li>Demo Site Administrator = dspacedemo+admin@gmail.com</li>
        <li>Demo Community Administrator = dspacedemo+commadmin@gmail.com</li>
        <li>Demo Collection Administrator = dspacedemo+colladmin@gmail.com</li>
        <li>Demo Submitter = dspacedemo+submit@gmail.com</li>
      </ul>-->
    </div>
  </div>
  <picture class="background-image">
    <source type="image/webp" srcset="assets/unpsjb/images/banner.webp 2000w, assets/unpsjb/images/banner-half.webp 1200w, assets/unpsjb/images/banner-tall.webp 768w">
    <source type="image/jpg" srcset="assets/unpsjb/images/banner.jpg 2000w, assets/unpsjb/images/banner-half.jpg 1200w, assets/unpsjb/images/banner-tall.jpg 768w">
    <img alt="" [src]="'assets/unpsjb/images/banner.jpg'"/><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
  <!--<small class="credits">Photo by <a href="https://www.pexels.com/@inspiredimages">@inspiredimages</a></small>-->
</div>